numpy==1.26.4
llvmlite
numba
tensorboardX
easydict
pyyaml
scikit-image
tqdm
sharedarray
opencv-python
pyquaternion
kornia==0.6.5
av2
opencv-python
pyquaternion
open3d
spconv-cu118
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.4.0+cu118
torchvision==0.19.0+cu118
torchaudio==2.4.0+cu118
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvcc-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
tensorrt-cu11
tensorrt-cu11-bindings
tensorrt-cu11-libs
tensorflow==2.14.0
tensorflow_probability==0.22.1
onnx
onnx-tf
onnxscript
